
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

.navbar {
  height: 5.938rem;
  padding: 0 6.188rem 0;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 5%;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
}

.bookstore-cms {
  color: #0290ff;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
}

.books {
  width: 3.688rem;
  height: 1rem;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
}

.categories {
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
}

.Oval {
  width: 2.813rem;
  height: 2.813rem;
  margin: 0 0 0 31rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
}

.Mask {
  width: 1.063rem;
  height: 1.063rem;
  background-color: #0290ff;
}

.book-list {
  display: flex;
  flex-direction: column;
  padding: 5% 5% 0;
  gap: 2rem;
  list-style: none;
}

.list {
  width: 90vw;
  height: 10.625rem;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.list:hover {
  background-color: #f4f4f4;
}

.School-of {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.title {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: Roboto Slab, serif;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
}

.author {
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-family: Roboto Slab, serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.btn-cont {
  display: flex;
}

.btn {
  border: none;
  background-color: inherit;
  font-family: Roboto Slab, serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.Comments {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
}

.Line-2 {
  width: 0.125rem;
  height: 1.5rem;
  margin: 0.75rem 1.063rem 0 0.938rem;
  border: solid 1px #e8e8e8;
}

.Remove {
  width: 3.375rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
}

.Edit {
  width: 1.688rem;
  height: 1.188rem;
  margin: 0.188rem 18.625rem 0.125rem 1.063rem;
}

.book-status {
  display: flex;
}

.Oval-2 {
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  border-color: #307bbe;
  border-inline-start-color: #e8e8e8;
  border-radius: 2.125rem;
}

.complete {
  display: flex;
  flex-direction: column;
}

.-Percent-Complete {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  color: #121212;
}

.Completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-progress {
  display: flex;
  flex-direction: column;
}

.Current-Chapter {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: Roboto Slab, serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
}

.Current-Lesson {
  width: 4.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: Roboto Slab, serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
}

.Rectangle-2 {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  display: flex;
  justify-self: center;
}

.Update-progress {
  width: 8.938rem;
  height: 1.125rem;
  font-family: Roboto Slab, serif;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: white;
}

.form {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.Line {
  width: 75rem;
  height: 0.125rem;
  margin: 2.5rem 0.063rem 1.813rem 0;
  border: solid 1px #e8e8e8;
}

.form-rapper {
  display: flex;
}

.form-title {
  height: 1.5rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
  margin-bottom: 1.188rem;
}

.add-book {
  width: 25rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  padding: 0.813rem 35.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;
}

.add-book::placeholder,
.category::placeholder {
  width: 41.5rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  padding: 0.813rem 35.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;
  color: #c4c4c4;
}

.category {
  width: 25rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;
}

.add-btn {
  border: none;
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  cursor: pointer;
  font-family: Roboto Slab, serif;
  font-size: 0.813rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: white;
}
